swagger: '2.0' #version of Swagger
info: # High Level information of API
  description: Vitality Incubator API Demo #Give the description of API 
  version: 1.0.0 #API version
  title: Vitality Incubator Demo # API title
  license: #Swagger license info
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: geodb-free-service.wirefreethought.com
basePath: /v1 #Basepath when there are multiple versions of API running
tags: # Tag information for each API operation. Multiple tags for multiple API operation
  - name: geodb #Tag name
    description: GeoDB API #Tag description of API operation
schemes:
  - http #security schemes
paths:
  '/geo/places': #Request Mapping path of REST API
    get: #Request method type, GET,POST etc.
      tags: # Refer to created tag above
        - geodb
      summary: Return cities object #Summary
      description: Returns a 200 ok with a success message #Description of API operation
      operationId: getPlaces #Method name
      parameters:
        - in: query
          name: limit
          type: integer
          description: The number of items to return per page
          required: false
      produces:
        - application/json #Response content type
      responses: # API response
        '200': #Successful status code
          description: successful operation #Successful status description
          schema:
            $ref: '#/definitions/GeoDBClient' #Response object details
definitions: # Object definition
  CityClient:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      wikiDataId:
        type: "string"
      type:
        type: "string"
      name:
        type: "string"
      country:
        type: "string"
      countryCode:
        type: "string"
      region:
        type: "string"
      regionCode:
        type: "string"
      regionWdId:
        type: "string"
      latitude:
        type: "number"
        format: "double"
      longitude:
        type: "number"
        format: "double"
      population:
        type: "integer"
        format: "int64"
    xml:
      name: "City"
  LinkClient:
    type: "object"
    properties:
      rel:
        type: "string"
      href:
        type: "string"
  MetaDataClient:
    type: "object"
    properties:
      currentOffset:
        type: "integer"
        format: "int64"
      totalCount:
        type: "integer"
        format: "int64"
  GeoDBClient: #Employee Object
    type: "object"
    required:
    - "name"
    - "photoUrls"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/CityClient"
      links:
        type: "array"
        items:
          $ref: "#/definitions/LinkClient"
      metadata:
        $ref: "#/definitions/MetaDataClient"
    xml:
      name: "GeoDB"